In [22]:
import pandas as pd

at = pd.read_csv('Articles.csv',encoding="ISO-8859-1")
at.head()

,Article,Date,Heading,NewsType
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business

In [23]:
at.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2692 entries, 0 to 2691
Data columns (total 4 columns):
Article     2692 non-null object
Date        2692 non-null object
Heading     2692 non-null object
NewsType    2692 non-null object
dtypes: object(4)
memory usage: 84.2+ KB

In [24]:
pd.unique(at["NewsType"][:])
at["Article"][0]

'KARACHI: The Sindh government has decided to bring down public transport fares by 7 per cent due to massive reduction in petroleum product prices by the federal government, Geo News reported.Sources said reduction in fares will be applicable on public transport, rickshaw, taxi and other means of traveling.Meanwhile, Karachi Transport Ittehad (KTI) has refused to abide by the government decision.KTI President Irshad Bukhari said the commuters are charged the lowest fares in Karachi as compare to other parts of the country, adding that 80pc vehicles run on Compressed Natural Gas (CNG). Bukhari said Karachi transporters will cut fares when decrease in CNG prices will be made.                        \r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n'

In [38]:
import nltk
import re
from nltk.corpus import stopwords
#nltk.download()
#for index, row in at.iterrows():
    #filtered_word_list = word_list[:] #make a copy of the word_list

rem_digit = ''.join([i for i in at["Article"][0] if not i.isdigit()])
voc = rem_digit.lower().split(' ')

# for word in voc:# iterate over word_list
#     #print(word)
#     if word in stopwords.words('english'):
#         word = " {0} ".format(word)
#         at["Article"].replace(word,' ')

at["Article"][0]

#for word in stopwords.words('english'):
    #print(word)

 or
 or

'karachi:  sdh government  decided  brg  public transport fs  7 per cent due  msive reducti  petroleum product prices   federal government, geo news reported.sources said reducti  fs   applicable  public transport, rickshaw, taxi  or means  travelg.meanwhile, karachi transport ittehad (kti)  refused  abide   government decisi.kti president irshad bukhari said  commuters  charged  lowest fs  karachi  comp  or parts   country, addg  80pc vehicles run  compressed natural g (cng). bukhari said karachi transporters  cut fs  decree  cng prices   made.                        \r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n'